fastapi
uvicorn
python-jose
passlib
python-dotenv
elasticsearch
pandas
transformers
torch
pyvi
google-generativeai
python-multipart
pydantic
pydantic[email]
SQLAlchemy
databases[sqlite]
FlagEmbedding
